.center {
	text-align: center;
}

.hide {
	display: none;
}

.search-field {
	margin-bottom: 5%;
}

.results {
	padding: 0 5%;
}

.synopsis {
	margin-top: 1%;
}

img {
	width: 130px;
	height: 130px;
}
